apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-docker
spec:
  replicas: 3
  selector:
    matchLabels:
      app: node-docker
  template:
    metadata:
      labels:
        app: node-docker
    spec:
      containers:
      - name: node-docker
        image: amcginlay/node-docker:1.0
        ports:
        - containerPort: 8080
          protocol: TCP
